name: Pester Unit Test

on: push

jobs:
    pester-test:
      name: Pester test
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository code
          uses: actions/checkout@v6
        - name: Perform a Pester test from the Tests.ps1 file
          shell: pwsh
          run: |
            ./Run-ScepmanTests.ps1